venv
/.idea

# pycache
Grocery_Bot/__pycache__
Grocery_Bot/src/__pycache__

# files
Grocery_Bot/additional_files/products_details.json
Grocery_Bot/additional_files/products.txt
Grocery_Bot/additional_files/config.json

geckodriver.log